/* Color Palette of 5 colors */



/* Highlight each row on rollover in a table */

/*                                          */



html {
    background-color: #aaa;
}


body {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    min-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #333;
}


section {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
header {
    margin-top: 20px;
}

header > h2 {
    display: block;
    padding: 20px 15px;
    margin-bottom: 0;
}




#nav {
    background-color: #848484;
    margin: 0;
    display: flex;
    align-items: stretch;
}

#nav a {
    flex: 1;
    padding: 15px 10px;
    background-color: #000;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#nav a:hover {
    background-color: #666;
}